{% for count in range(nfs_ganesha_exports|length) %}
EXPORT
{
	# Unique export ID number for this export
	Export_ID=10{{ count }};

	# We're only interested in NFSv4 in this configuration
	Protocols = 4;

	# NFSv4 does not allow UDP transport
	Transports = TCP;

	#
	# Path into the cephfs tree.
	#
	# Note that FSAL_CEPH does not support subtree checking, so there is
	# no way to validate that a filehandle presented by a client is
	# reachable via an exported subtree.
	#
	# For that reason, we just export "/" here.
	Path = "{{ nfs_ganesha_exports[count]['ceph_path'] }}";

	#
	# The pseudoroot path. This is where the export will appear in the
	# NFS pseudoroot namespace.
	#
	Pseudo = "{{ nfs_ganesha_exports[count]['pseudoroot_path'] }}";

	# We want to be able to read and write
	Access_Type = RW;

	# Time out attribute cache entries immediately
	Attr_Expiration_Time = 0;

	# Enable read delegations? libcephfs v13.0.1 and later allow the
	# ceph client to set a delegation. While it's possible to allow RW
	# delegations it's not recommended to enable them until ganesha
	# acquires CB_GETATTR support.
	#
	# Note too that delegations may not be safe in clustered
	# configurations, so it's probably best to just disable them until
	# this problem is resolved:
	#
	# http://tracker.ceph.com/issues/24802
	#
	# Delegations = R;

	# NFS servers usually decide to "squash" incoming requests from the
	# root user to a "nobody" user. It's possible to disable that, but for
	# now, we leave it enabled.
	# Squash = root;
	Squash = No_Root_Squash;

	FSAL {
		# FSAL_CEPH export
		Name = CEPH;

		#
		# Ceph filesystems have a name string associated with them, and
		# modern versions of libcephfs can mount them based on the
		# name. The default is to mount the default filesystem in the
		# cluster (usually the first one created).
		#
		Filesystem = "{{ nfs_ganesha_exports[count]['ceph_fs'] }}";

		#
		# Ceph clusters have their own authentication scheme (cephx).
		# Ganesha acts as a cephfs client. This is the client username
		# to use. This user will need to be created before running
		# ganesha.
		#
		# Typically ceph clients have a name like "client.foo". This
		# setting should not contain the "client." prefix.
		#
		# See:
		#
		# http://docs.ceph.com/docs/jewel/rados/operations/user-management/
		#
		# The default is to set this to NULL, which means that the
		# userid is set to the default in libcephfs (which is
		# typically "admin").
		#
		User_Id = "{{ nfs_ganesha_exports[count]['user_id'] }}";

		#
		# Key to use for the session (if any). If not set, it uses the
		# normal search path for cephx keyring files to find a key:
		#
		# Secret_Access_Key = "YOUR SECRET KEY HERE";
	}
}
{% endfor %}