---

# Container Config dirs
ha_config_dir: "{{ docker_dir }}/homeassistant/config"
le_config_dir: "{{ docker_dir }}/letsencrypt/config"

host_packages:
  - nfs-common

containers:
  ###
  - service_name: homeassistant
    active: true
    image: homeassistant/home-assistant:2026.2
    container_name: home-assistant
    hostname: "{{ inventory_hostname }}"
    restart: always
    volumes: 
      - "{{ ha_config_dir }}:/config"
      - "{{ docker_dir }}/homeassistant/snapshots:/snapshots"
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    environment:
      - "TZ={{ timezone }}"
    privileged: true
    network_mode: host
  
  - service_name: letsencrypt
    active: true
    image: linuxserver/letsencrypt
    container_name: letsencrypt
    hostname: "{{ inventory_hostname }}"
    restart: always
    volumes: 
      - "{{ le_config_dir }}:/config"
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - "TZ={{ timezone }}"
      - "URL={{ letsencrypt_domain }}"
      - "SUBDOMAINS={{ letsencrypt_subdomains }}"
      - VALIDATION=http
      - "EMAIL={{ admin_email }}"
      - ONLY_SUBDOMAINS=true
      - DHLEVEL=4096
    ports:
      - 443:443
      - 80:80
    privileged: true
    network_mode: host

persistent_backup: /mnt/truenas01/backup

filesystem_mounts:
  - { path: "{{ persistent_backup }}", src: "{{ hostvars['truenas01'].ansible_host }}:/mnt/nas/backup", fstype: nfs, opts: 'auto,nofail,noatime,nolock,intr,tcp,actimeo=1800' }
