[Unit]
Description=Run {{ outer_item['name'] }} blockchain database backup

[Timer]
Unit={{ outer_item['name'] }}-blockchain-backup.service
OnCalendar=daily
Persistent=true
RandomizedDelaySec=900

[Install]
WantedBy=timers.target